/*Tabla*/

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #4A90E2; 
}

th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 3px solid #3E7BB6; 
    position: sticky; 
    top: 0; 
    z-index: 10; 
}

tbody {
    background-color: #ffffff; 
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

tbody tr:hover {
    background-color: #e8f0fe;
}

tr {
    border-radius: 8px; 
}

table, th, td {
    border: 1px solid #ddd; 
}


th:nth-last-child(-n+4),
td:nth-last-child(-n+4) {
    text-align: center; 
}

.mutate-buttons-container{
    display: flex;
    gap: 6px;
    margin: auto;
    justify-content: center;
    align-items: center;  
}

button {
    background-color: #f0f0f0; 
    border: none;
    padding: 8px 12px; 
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}


button:hover {
    background-color: #e0e0e0; 
    transform: scale(1.05); 
}

button:active {
    transform: scale(0.95);
}


button:first-child {
    background-color: #4caf50; 
    color: white; 
}

button:first-child:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
}


button:last-child {
    background-color: #f44336; 
    color: white; 
}

button:last-child:hover {
    background-color: #e53935;
}

@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
    th, td {
        padding: 10px;
    }
}

/*Págination*/

.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    font-family: Arial, sans-serif;
    gap: 5px;
}

.pagination-info {
    font-size: 1rem;
    color: #333;
}

.pagination-buttons {
    display: flex;
    gap: 10px;
}

.pagination-buttons button {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.pagination-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-buttons button:not(:disabled):hover {
    background-color: #0056b3;
}

